@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		background: #2f3136;
		scroll-behavior: smooth;
	}
}

@layer components {
	.link {
		@apply transition duration-300 hover:bg-blurple hover:text-white dark:hover:bg-blurple dark:hover:text-white;
	}

	.input {
		/* focus: bg-white */
		@apply my-1 block w-full rounded-md border-transparent bg-gray-100 font-normal shadow-sm transition-colors placeholder:text-gray-500 focus:ring-2 focus:ring-blurple disabled:cursor-not-allowed dark:bg-slate-800 placeholder:dark:text-slate-400;
	}

	.form-checkbox {
		@apply m-2 cursor-pointer rounded bg-gray-100 p-3 text-blurple checked:bg-blurple focus:ring-blurple disabled:cursor-not-allowed dark:bg-slate-800 dark:checked:bg-blurple;
	}

	select option:checked,
	select option:checked i {
		@apply bg-blurple text-white;
	}

	.dragged {
		@apply bg-blurple/10 dark:bg-blurple/10;
	}

	.marked {
		@apply inline-block;
	}
}

/*
	? MODALS
*/

.backdrop {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
}

.modal {
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	/* allow click-through to backdrop */
	pointer-events: none;
}

@layer utilities {
	.dark .dark\:bg-slate-700 {
		--tw-bg-opacity: 1;
		background-color: rgb(25 27 30 / var(--tw-bg-opacity)) !important;
	}

	.dark .dark\:bg-slate-800 {
		--tw-bg-opacity: 1;
		background-color: rgb(31 34 38 / var(--tw-bg-opacity)) !important;
	}

	.input:is(.dark *) {
		--tw-bg-opacity: 1;
		background-color: rgb(31 34 38 / var(--tw-bg-opacity)) !important;
	}

	.bg-ignis-light {
		background-image: linear-gradient(to bottom,
				hsla(20, 87%, 53%, 1) 1%,
				hsla(34, 94%, 59%, 1) 90%);
	}

	.bg-ignis-dark {
		background-image: linear-gradient(to top,
				hsla(21, 87%, 54%, 1) 0%,
				hsla(0, 0%, 7%, 1) 97%);
	}
}